<% yield %>

<% if Helpers.logged_in?(session) %>
  <form action="/signout" method="GET">
    <input type="submit" value="Sign Out">
  </form>
  <a href="/entries"> Your Entries </a>
<% else %>
  <a href="/signin">Sign In</a>
  <a href="/signup">Sign Up</a>
<% end %>
