<!-- entry content -->
<form action='/entries/<%=@entry.id%>/delete' method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Entry">
</form>
