Edit Entry

<form action='/entries/<%=@entry.id%>' method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  Entry Content:

  <input type="text" id="content" name="content" value="<%=@entry.content%>" >

  <input type="submit" id="submit" value="Edit Entry">

</form>
