Create a New Diary Entry:

<form action='/entries' method="POST">

  <textarea name="content" rows="10" cols="30">

  </textarea>
  
  <input type="submit" id="submit" value="Create Entry">



</form>
